@model string

@{
    ViewBag.Title = "Delete Handler";
}

<h2>Are you sure you want to delete:</h2>
<h4 style="margin-left: 40px">@Model</h4>

<input type="button" value="OK" style="background-color:red" />
<input type="button" value="cancel" />