@model string

@{
    ViewBag.Title = "Delete Handler";
}


<h2>Are you sure you want to delete:</h2>
<h4 type="text" name="handler" style="margin-left: 40px">@Model</h4>

<form>
    <input id="okBtn" type="button" onclick="myFunction()" style="background-color:red" value="OK" />
    <input id="cancelBtn" formaction="ConfigView" type="submit" value="cancel" />

    <script>
        function myFunction() {
            document.getElementById("cancelBtn").disabled = true;
            document.getElementById("okBtn").disabled = true;
        }
    </script>
</form>