@model string

@{
    ViewBag.Title = "Delete Handler";
}

<h2>Are you sure you want to delete:</h2>
<h4 style="margin-left:40px">@Model</h4>
<input type="text" id="handler" value=@Model hidden="hidden" />

<form id="myform" method="post">
    <input id="okBtn" type="button" onclick="myFunction()" style="background-color:red" value="OK" />
    <input id="cancelBtn" type="submit" value="cancel" />
    <ul id="lstProducts"></ul>
</form>

<script>
    $("#okBtn").click(function () {
        document.getElementById("okBtn").disabled = true;
        document.getElementById("cancelBtn").disabled = true;
        var input = {
            name: $("#handler").val()
        };
        $.post("@Url.Action("RemoveHandler")", input, function (data, status) {            
            document.forms["myform"].submit();
        });        
    });
</script>